@model ConferencesIO.RemoteData.Dtos.ConferenceDto

@{
  ViewBag.Title = "Conferences";
  Layout = "../Shared/_Layout.cshtml";
}
<br/><br/><br/><br/>
<h2>title</h2>
@using (Html.BeginForm())
{
  @Html.EditorForModel()
                        
  <input type="submit" name="submit" />
}