<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.41.1" targetFramework="net45" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="fusillade" version="0.6.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="MvvmCross" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="net45" />
  <package id="MvvmCross.Plugin.Messenger" version="4.1.0" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="4.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Punchclock" version="1.1.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="Splat" version="1.3.3" targetFramework="net45" />
</packages>