<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.41.1" targetFramework="net45" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="MvvmCross" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="4.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
</packages>