@using TekConf.RemoteData.Dtos.v1
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<title>TekConf</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- CSS Global Compulsory-->
	<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" href="~/assets/css/headers/header1.css">
	<link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="~/assets/css/style_responsive.css">
	<link rel="stylesheet" href="~/assets/css/effects.css">
	<link rel="stylesheet" href="~/assets/css/img-hover-effect.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">
	<link rel="stylesheet" href="~/assets/plugins/parallax-slider/css/parallax-slider.css" type="text/css">
	<link rel="stylesheet" href="~/assets/plugins/bxslider/jquery.bxslider.css">
	<!-- CSS Theme -->
	<link rel="stylesheet" href="~/assets/css/themes/default.css" id="style_color">
		<link rel="stylesheet" href="~/assets/css/style.css">
	<link rel="stylesheet" href="~/assets/css/themes/headers/default.css" id="style_color-header-1">
	<link rel="search" type="application/opensearchdescription+xml" href="http://www.tekconf.com/TekConf.xml" title="TekConf Search" />

</head>
<body>
	<!--=== Style Switcher ===-->
	<i class="style-switcher-btn icon-cogs"></i>
	<div class="style-switcher">
		<div class="theme-close"><i class="icon-remove"></i></div>
		<div class="theme-heading">Theme Colors</div>
		<ul class="unstyled">
			<li class="theme-default theme-active" data-style="default" data-header="light"></li>
			<li class="theme-blue" data-style="blue" data-header="light"></li>
			<li class="theme-orange" data-style="orange" data-header="light"></li>
			<li class="theme-red" data-style="red" data-header="light"></li>
			<li class="theme-light" data-style="light" data-header="light"></li>
		</ul>
	</div>
	<!--/style-switcher-->
	<!--=== End Style Switcher ===-->
	<!--=== Top ===-->
	<div class="top">
		<div class="container">
			<ul class="loginbar pull-right">
				<li><a href="~/Account/Login" class="login-btn">Login</a></li>
			</ul>
		</div>
	</div>
	<!--/top-->
	<!--=== End Top ===-->
	<!--=== Header ===-->
	<div class="header">
		<div class="container">
			<!-- Logo -->
			<div class="logo">
				<a href="index.html">
					<img id="logo-header" src="~/assets/img/logo1-default.png" alt="Logo"></a>
			</div>
			<!-- /logo -->
			<!-- Menu -->
			<div class="navbar">
				<div class="navbar-inner">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<!-- /nav-collapse -->
					<div class="nav-collapse collapse">
						<ul class="nav top-2">
							<li class="active">
								<a href="~/">Home</a>
							</li>
							<li>
								<a href="~/Conferences">Conferences</a>
							</li>
							<li>
								<a href="~/Api">Api</a>
							</li>
							<li>
								<a href="~/Apps">Apps</a>
							</li>
							<li>
								<a href="~/Speakers">For Speakers</a>
							</li>
							<li>
								<a href="~/Organizers">For Organizers</a>
							</li>
							<li><a class="search"><i class="icon-search search-btn"></i></a></li>
						</ul>
						<div class="search-open">
							<div class="input-append">
								<form>
									<input type="text" class="span3" placeholder="Search" />
									<button type="submit" class="btn-u">Go</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /nav-collapse -->
				</div>
				<!-- /navbar-inner -->
			</div>
			<!-- /navbar -->
		</div>
		<!-- /container -->
	</div>
	<!--/header -->
	<!--=== End Header ===-->
	@RenderBody()
	<!--=== Footer ===-->
	<div class="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
					<!-- About -->
					<div class="headline">
						<h3>About</h3>
					</div>
					<p class="margin-bottom-25">There are real people behind tekconf, so if you have a question or suggestion (no matter how small) please get in touch with us: contact <a href="mailto:robgibbens@arteksoftware.com">robgibbens@arteksoftware.com</a></p>
					<!-- Monthly Newsletter -->
					<div class="headline">
						<h3>Email Newsletter</h3>
					</div>
					<p>Subscribe to our newsletter and stay up to date with the latest news</p>
					<form class="form-inline">
						<div class="input-append">
							<input type="text" placeholder="Email Address" class="input-medium">
							<button class="btn-u">Subscribe</button>
						</div>
					</form>
				</div>
				<!--/span4-->

				<div class="span4">
					<div class="posts">
						<div class="headline">
							<h3>Newest Conferences</h3>
						</div>
						@if (ViewBag.NewestConferences != null)
						{
							foreach (var newConference in ViewBag.NewestConferences as IEnumerable<FullConferenceDto>)
							{
										<dl class="dl-horizontal">
											<dt><a href="~/Conferences/@newConference.slug">
												<img src="@newConference.imageUrl" alt="" /></a></dt>
											<dd>
												<p><a href="~/Conferences/@newConference.slug">@newConference.name</a></p>
											</dd>
										</dl>
							}
						}

					</div>
				</div>
				<!--/span4-->
				<div class="span4">
					<!-- Stay Connected -->
					<div class="headline">
						<h3>Stay Connected</h3>
					</div>
					<ul class="social-icons">
						<li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
						<li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
						<li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
						<li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
						<li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
						<li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
						<li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
					</ul>
				</div>
				<!--/span4-->
			</div>
			<!--/row-fluid-->
		</div>
		<!--/container-->
	</div>
	<!--/footer-->
	<!--=== End Footer ===-->
	<!--=== Copyright ===-->
	<div class="copyright">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
					<p>2013 &copy; Unify. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
				</div>
				<div class="span4">
					<a href="index.html">
						<img id="logo-footer" src="~/assets/img/logo2-default.png" class="pull-right" alt="" /></a>
				</div>
			</div>
			<!--/row-fluid-->
		</div>
		<!--/container-->
	</div>
	<!--/copyright-->
	<!--=== End Copyright ===-->
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="~/assets/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="~/assets/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="~/assets/plugins/parallax-slider/js/modernizr.js"></script>
	<script type="text/javascript" src="~/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
	<script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="~/assets/js/app.js"></script>
	<script type="text/javascript" src="~/assets/js/pages/index.js"></script>
	<script type="text/javascript" src="~/assets/plugins/bxslider/jquery.bxslider.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			App.init();
			App.initSliders();
			Index.initParallaxSlider();
			App.initBxSlider1();
		});
	</script>
	<!--[if lt IE 9]>
				<script src="~/assets/js/respond.js"></script>
		<![endif]-->
</body>
</html>
