@using System.Web.Optimization
@model dynamic

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
		<h1 class="color-green pull-left">Admin</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container portfolio-columns">
	<div class="row-fluid">
		<div class="view view-tenth span3">
		</div>

		<div class="span3">
			<div class="thumbnail-style thumbnail-kenburn">
				<div class="thumbnail-img">
					<div class="overflow-hidden">
						<img src="~/img/conferences/DefaultConference.png" alt="" />
					</div>
					<a class="btn btn-more hover-effect" href="@Url.RouteUrl("AdminCreateConference")">add conference +</a>
				</div>
			</div>
		</div>
		<div class="span3">
		</div>
		<div class="span3">
			<img src="~/img/Speakers/default.png" alt="" />
		</div>
	</div>
</div>


@section scripts {
changeMenuActive('menuAdmin');
}