<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="io.conferences.android" android:versionCode="0" android:versionName="0.1">
  <uses-sdk android:targetSdkVersion="8" />
  <application android:label="ConferencesIO.Android">
  </application>
  <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>