<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
		<add name="StorageConnection"
				connectionString="DefaultEndpointsProtocol=http;AccountName=tekconf;AccountKey=MaoxX/+W1yI957psh7U8SKsUmE2wq4BbZmk/C5NZ2bDB+MjCLc86XhNBtZLOIPL8HAWeQrtBLYbp7QiQEgFbPQ=="
				xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		
		<add name="MongoServer"
      connectionString="mongodb://tekconfdb.cloudapp.net:27017/?safe=true"
      xdt:Transform="SetAttributes" 
      xdt:Locator="Match(name)"/>

    <add name="elmah-mongodb"
      connectionString="mongodb://tekconfdb.cloudapp.net:27017/elmah"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="BaseUrl" value="http://tekconf-api.azurewebsites.net" xdt:Locator="Match(key)" xdt:Transform="Replace" />
		<add key="ImageUrl" value="http://tekconf.blob.core.windows.net/images/conferences/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" xdt:Transform="Replace" />
		<compilation xdt:Transform="RemoveAttributes(debug,batch)"></compilation>
	</system.web>
</configuration>