<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="http://api.tekconf.com" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <add key="ImageUrl" value="http://tekconf.blob.core.windows.net/images/conferences/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
    <compilation xdt:Transform="RemoveAttributes(debug,batch)"></compilation>
  </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:bdi87ssz89.database.windows.net,1433;Database=TekConfAuth;User ID=robgibbens@bdi87ssz89;Password=Xz4*b.17/6;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=tekconf;AccountKey=MaoxX/+W1yI957psh7U8SKsUmE2wq4BbZmk/C5NZ2bDB+MjCLc86XhNBtZLOIPL8HAWeQrtBLYbp7QiQEgFbPQ=="  xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="MongoServer" connectionString="mongodb://localhost/conferences" xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="elmah-mongodb" connectionString="mongodb://localhost/elmah" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
</configuration>