@model TekConf.RemoteData.Dtos.v1.SpeakerDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Model.firstName
        </div>
    </body>
</html>