<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fusillade" version="0.6.0" targetFramework="xamarinios10" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Community.Plugin.Sqlite" version="3.1.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.1.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Color" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.File" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Json" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Messenger" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.1.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="Polly" version="4.1.2" targetFramework="xamarinios10" />
  <package id="Punchclock" version="1.2.0" targetFramework="xamarinios10" />
  <package id="refit" version="2.4.1" targetFramework="xamarinios10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLiteNetExtensions-MvvmCross" version="1.2.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.1.2" targetFramework="xamarinios10" />
</packages>