@model List<RemoteData.Shared.Session>

@{
  ViewBag.Title = "Conference";
  Layout = "../Shared/_Layout.cshtml";
}

<table class="table table-striped">
@foreach (var session in Model)
{
  <tr>
      <td>
        @Html.ActionLink(session.Slug, "Details", new { conferenceSlug = session.ConferenceSlug, slug = session.Slug })
      </td>
    </tr>
}
</table>
