@model List<ConferencesIO.RemoteData.Dtos.SessionsDto>

@{
  ViewBag.Title = "Conference";
  Layout = "../Shared/_Layout.cshtml";
}

<table class="table table-striped">
@foreach (var session in Model)
{
  <tr>
      <td>
        @Html.ActionLink(session.slug, "Details", new { conferenceSlug = session.conferenceSlug, slug = session.slug })
      </td>
    </tr>
}
</table>
