@using System.Web.Optimization
@model List<TekConf.RemoteData.Dtos.v1.FullConferenceDto>


    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Edit Conferences</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <table class="table">
                        <tbody>
                            @foreach (var conference in Model)
                            {
                                <tr>
                                    <td>@Html.RouteLink("Edit", "AdminEditConference", new { conferenceSlug = conference.slug })</td>
                                    <td>@conference.name</td>
                                    <td>@conference.start.ToString("MM/dd/yyyy") - @conference.end.ToString("MM/dd/yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </div>
@section scripts {
	changeMenuActive('menuAdmin');
}   