@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Conferences - conferences.io</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="./css/bootstrap.css" rel="stylesheet">
  <link href="./css/bootstrap-responsive.css" rel="stylesheet">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
    rel="stylesheet">
  <link href="./css/font-awesome.css" rel="stylesheet">

  <link href="./css/reboot-landing.css" rel="stylesheet">
  <link href="./css/reboot-landing-responsive.css" rel="stylesheet">

  <link href="./css/themes/green/theme.css" rel="stylesheet">
  <link href="./css/pages/features.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="./">conferences.io				
        </a>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="active">
              <a href="~/">Home
              </a>
            </li>
            <li class="dropdown">
              <a href="~/Conferences">Conferences
              </a>
            </li>
            <li>
              <a href="~/features.html">My Schedule
              </a>
            </li>
            <li>
              <a href="~/about.html">Api
              </a>
            </li>
            <li>
              <a href="~/Apps">Apps
              </a>
            </li>
            <li>
              <a href="~/contact.html">Contact Us
              </a>
            </li>
          </ul>

        </div>
        <!--/.nav-collapse -->

      </div>
      <!-- /container -->

    </div>
    <!-- /navbar-inner -->

  </div>
  <!-- /navbar -->




  <div id="subheader">
    <div class="inner">
      <div class="container">
        <h1>Conferences</h1>
      </div>
      <!-- /.container -->
    </div>
    <!-- /inner -->
  </div>
  <!-- /subheader -->

  <div id="subpage">
    <div class="container">
      <div class="row">

        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="~/img/conferences/ThatConference.png" alt="ThatConference">
              <div class="caption">
                <h3>That Conference</h3>
                <h4>August 13-15 - Wisconsin Dells, WI</h4>
                <p style="height:201px;">
                  With over 150 sessions to choose from, your head will eventually start to overheat.
                  Cool off in one of the many nearby pools, because unlike your traditional technology
                  conference, you will be camping at a giant indoor waterpark. Be sure to follow us
                  on twitter and check us out on facebook. Then start practicing your cannon balls.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="~/img/conferences/CodeMash.png" alt="">
              <div class="caption">
                <h3>CodeMash</h3>
                <h4>January 8-11 - Sandusky, OH</h4>
                <p style="height:201px;">
                  CodeMash is a unique event that will educate developers on current practices, methodologies,
                  and technology trends in a variety of platforms and development languages such as
                  Java, .Net, Ruby, Python and PHP.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="~/img/conferences/Monospace.png" alt="">
              <div class="caption">
                <h3>Monospace</h3>
                <h4>October 17-19 - Boston, MA</h4>
                <p style="height:201px;">
                  Monospace is the official cross platform and open-source .NET conference. Want to
                  learn more about developing for the iPhone, Android, Mac, and *nix platforms using
                  .NET technologies? How about developing games or learning more about open-source
                  projects using .NET technologies? Monospace has provided an annual venue to collaborate,
                  share, and socialize around these topics and more.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="~/img/conferences/Build.png" alt="">
              <div class="caption">
                <h3>//build</h3>
                <h4>October 30 - November 2 - Redmond, WA</h4>
                <p style="height:201px;">
                  At Build, we’ll dive deep to cover all the areas you care about. How to design and
                  build beautiful Windows 8 apps. How to sell your apps in the Windows 8 Store and
                  make money. And much more.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
        </ul>


      </div>
      <!-- /row -->



      <div class="row">

        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="http://placehold.it/260x180" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                  mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="http://placehold.it/260x180" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                  mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="http://placehold.it/260x180" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                  mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail" style="height:545px;">
              <img src="http://placehold.it/260x180" alt="">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
                  mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.
                </p>
                <p>
                  <a href="#" class="btn btn-primary">View Conference</a> <a href="#" class="btn">I'm Attending!</a> 
                </p>
              </div>
            </div>
          </li>
        </ul>


      </div>
      <!-- /row -->


    </div>
    <!-- /container -->

  </div>
  <!-- /subpage -->






  <div id="extra">

    <div class="inner">

      <div class="container">

        <div class="row">

          <div class="span4">

            <h3><span class="slash">//</span> Quick Links</h3>


            <ul class="footer-links clearfix">
              <li><a href="./">Home</a></li>
              <li><a href="./pricing.html">Plans</a></li>
              <li><a href="../features.html">Features</a></li>
              <li><a href="./about.html">About</a></li>
              <li><a href="./faq.html">FAQ</a></li>
            </ul>

            <ul class="footer-links clearfix">
              <li><a href="javascript:;">Support</a></li>
              <li><a href="javascript:;">License</a></li>
              <li><a href="javascript:;">Terms of Use</a></li>
              <li><a href="javascript:;">Privacy Policy</a></li>
              <li><a href="javascript:;">Something Else</a></li>
            </ul>

          </div>
          <!-- /span4 -->


          <div class="span4">

            <h3><span class="slash">//</span> Stay In Touch</h3>


            <p>
              There are real people behind conferences.io, so if you have a question or suggestion
              (no matter how small) please get in touch with us:
            </p>

            <ul class="social-icons-container">

              <li>
                <a href="javascript:;" class="social-icon social-icon-twitter">Twitter
                </a>
              </li>

              <li>
                <a href="javascript:;" class="social-icon social-icon-googleplus">Google +
                </a>
              </li>

              <li>
                <a href="javascript:;" class="social-icon social-icon-facebook">Facebook
                </a>
              </li>

            </ul>
            <!-- /extra-social -->

          </div>
          <!-- /span4 -->

          <div class="span4">

            <h3><span class="slash">//</span> Subscribe and get updates</h3>


            <p>
              Subscribe to our newsletter and get exclusive deals you wont find anywhere else
              straight to your inbox!
            </p>


            <form>

              <input type="text" name="subscribe_email" placeholder="Your Email" />

              <br />

              <button class="btn ">Subscribe</button>
            </form>


          </div>
          <!-- /span4 -->

        </div>
        <!-- /row -->

      </div>
      <!-- /container -->

    </div>
    <!-- /inner -->

  </div>
  <!-- /extra -->




  <div id="footer">

    <div class="inner">

      <div class="container">

        <div class="row">
          <div id="footer-copyright" class="span4">
            &copy; 2012 conferences.io
          </div>
          <!-- /span4 -->

          <div id="footer-terms" class="span8">
          </div>
          <!-- /span8 -->
        </div>
        <!-- /row -->

      </div>
      <!-- /container -->

    </div>
    <!-- /inner -->

  </div>
  <!-- /footer -->


  <script src="./js/jquery-1.7.2.min.js"></script>
  <script src="./js/bootstrap.js"></script>

  <script>

    $(function () {

    });

  </script>
</body>
</html>
