<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-30">
	<div class="container">
		<h1 class="color-green pull-left">For Organizers</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
	<div class="row-fluid">
		<div class="span9">
			<!-- Other Questions -->
@*			<div class="headline">
				<h3>General Questions</h3>
			</div>*@
			This will contain instructions for organizers to create, maintain, and administer a conference. It will also explain the benefits of using TekConf to manage their conference.
						<!-- Accardion -->
			@*<div class="accordion acc-home margin-bottom-40" id="accordion2">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Anim pariatur cliche reprehenderit bird on it squid single-origin
						</a>
					</div>
					<div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
						<div class="accordion-inner">
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Nihil anim keffiyeh helvetica accusamus labore sustainable VHS
						</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Brunch 3 wolf moon tempor enim eiusmod high life
						</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Labore wes anderson cred labore wes anderson cred nesciunt 
						</a>
					</div>
					<div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Brunch 3 wolf moon tempor sunt aliqua put a bird 
						</a>
					</div>
					<div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
			</div>*@
			<!--/accardion-->

			<!-- General Questions -->
@*			<div class="headline">
				<h3>Other Questions</h3>
			</div>*@
			<!-- Accardion -->
			@*<div class="accordion acc-home" id="accordion3">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne1">1. Laim pariatur cliche reprehenderit
						</a>
					</div>
					<div id="collapseOne1" class="accordion-body in collapse" style="height: auto;">
						<div class="accordion-inner">
							<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo1">2. Nihil anim keffiyeh helvetica
						</a>
					</div>
					<div id="collapseTwo1" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree1">3. Brunch 3 wolf moon tempor
						</a>
					</div>
					<div id="collapseThree1" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						</div>
					</div>
				</div>
				<!--/accordion-group-->
			</div>*@
			<!--/accardion-->
		</div>
		<!--/span8-->

		<div class="span3">
			<!-- Contacts -->
			<div class="headline">
				<h3>Contact</h3>
			</div>
			<ul class="unstyled who margin-bottom-20">
				<li><a href="mailto:robgibbens@arteksoftware.com"><i class="icon-envelope-alt"></i>robgibbens@arteksoftware.com</a></li>
				<li><a href="http://www.arteksoftware.com"><i class="icon-globe"></i>http://www.arteksoftware.com</a></li>
			</ul>

			<!-- Why we are? -->
			@*<div class="headline">
				<h3>Why we are?</h3>
			</div>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
			<ul class="unstyled">
				<li><i class="icon-ok color-green"></i>Odio dignissimos ducimus</li>
				<li><i class="icon-ok color-green"></i>Blanditiis praesentium volup</li>
				<li><i class="icon-ok color-green"></i>Eos et accusamus</li>
			</ul>*@
		</div>
		<!--/span4-->
	</div>
	<!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->
@section scripts {
	changeMenuActive('menuOrganizers');
}