<div id="footer">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="span4">
                        &copy; 2012 conferences.io
                    </div>
                    <!-- /span4 -->
                    <div id="footer-terms" class="span8">
                    </div>
                    <!-- /span8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /footer -->