<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a class="brand" href="~/">tekconf </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="active"><a href="~/">Home </a></li>
                    <li class="dropdown"><a href="~/Conferences">Conferences </a></li>
                    <li><a href="~/Schedule">My Schedule </a></li>
                    <li><a href="~/Api">Api </a></li>
                    <li><a href="~/Apps">Apps </a></li>
                    <li><a href="~/Account/LoginWithProvider">Login</a></li>
                    <li><a href="~/Admin">Admin</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
