<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BaseUrl" value="http://api.tekconf.com" xdt:Locator="Match(key)" xdt:Transform="Replace" />
		<add key="ImageUrl" value="http://tekconf.blob.core.windows.net/images/conferences/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
		<add key="webUrl" value="http://www.tekconf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

			<add key="MongoServer" value="mongodb://tekconf.cloudapp.net/conferences" 
					  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="mongoServerAddress" value="tekconf.cloudapp.net"
					xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	</appSettings>

	<connectionStrings>
		<!--<add name="StorageConnection" connectionString="DefaultEndpointsProtocol=http;AccountName=tekconf;AccountKey=MaoxX/+W1yI957psh7U8SKsUmE2wq4BbZmk/C5NZ2bDB+MjCLc86XhNBtZLOIPL8HAWeQrtBLYbp7QiQEgFbPQ=="  xdt:Locator="Match(name)" xdt:Transform="Replace" />
		<add name="DefaultConnection" connectionString="server=tekconf.cloudapp.net;database=tekconf" xdt:Locator="Match(name)" xdt:Transform="Replace" />
		<add name="elmah-mongodb" connectionString="mongodb://tekconf.cloudapp.net/elmah" xdt:Locator="Match(name)" xdt:Transform="Replace" />-->
	</connectionStrings>

	<system.web>
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
</configuration>
