<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="BaseUrl" value="http://api.tekconf.com" xdt:Locator="Match(key)" xdt:Transform="Replace" />
		<add key="ImageUrl" value="http://tekconf.blob.core.windows.net/images/conferences/" xdt:Locator="Match(key)" xdt:Transform="Replace" />
		<add key="webUrl" value="http://www.tekconf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="MongoServer" value="mongodb://tekconf.cloudapp.net/conferences"
					xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="mongoServerAddress" value="tekconf.cloudapp.net"
					xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

	</appSettings>

	<system.web>
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
</configuration>