<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>conferences.io</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/reboot-landing.css" rel="stylesheet">
    <link href="~/css/reboot-landing-responsive.css" rel="stylesheet">
    <link href="~/css/themes/green/theme.css" rel="stylesheet">
    <link href="~/css/pages/homepage.css" rel="stylesheet">
    <link href="~/js/lightbox/themes/default/jquery.lightbox.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
  
  <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="~/">conferences.io				
                </a>
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="active">
                            <a href="~/">Home
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="~/pricing.html">Conferences
                            </a>
                        </li>
                        <li>
                            <a href="~/features.html">My Schedule
                            </a>
                        </li>
                        <li>
                            <a href="~/about.html">Api
                            </a>
                        </li>
                        <li>
                            <a href="~/faq.html">Apps
                            </a>
                        </li>
                        <li>
                            <a href="~/contact.html">Contact Us
                            </a>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->

            </div>
            <!-- /container -->
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->


    <div id="landing">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4 landing-text">
                        <h1>Meet, connect, learn.</h1>
                        <p>Curabitur semper, mi eget adipiscing pharetra, eros ipsum cursus libero, at tristique nisl nunc ut odio. Nunc nec tellus arcu  mi eget adipiscing pharetra. Eros ipsum cursus libero</p>
                        <p class="landing-actions">
                            <a href="javascript:;" class="btn btn-large btn-block btn-inverse">Sign up</a>
                        </p>
                    </div>
                    <!-- /landing-text -->
                    <div class="span8 landing-screenshot">
                        <img src="~/img/iPad1.png" class="screengrab" alt="Screenshot" />
                    </div>
                </div>
                <!-- .row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /landing -->

    <div id="content">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <h3><span class="slash">//</span> Upcoming Conferences</h3>
                        <ul class="features-list">
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-list-alt"></i>
                                        </div>
                                    </div>
                                    <!-- /circle-icon -->
                                </div>
                                <!-- /feature-thumbnail -->

                                <div class="feature-content">
                                    <h3>That Conference</h3>
                                    <h3>August 13-15, 2012</h3>
                                    <p>With over 150 sessions to choose from, your head will eventually start to overheat. Cool off in one of the many nearby pools, because unlike your traditional technology conference, you will be camping at a giant indoor waterpark. Be sure to follow us on twitter and check us out on facebook. Then start practicing your cannon balls.</p>
                                </div>
                                <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-flag"></i>
                                        </div>
                                    </div>
                                    <!-- /circle-icon -->
                                </div>
                                <!-- /feature-thumbnail -->

                                <div class="feature-content">
                                    <h3>Monospace</h3>
                                    <h3>October 17-19, 2012</h3>
                                    <p>Monospace is the official cross platform and open-source .NET conference. Want to learn more about developing for the iPhone, Android, Mac, and *nix platforms using .NET technologies? How about developing games or learning more about open-source projects using .NET technologies? Monospace has provided an annual venue to collaborate, share, and socialize around these topics and more.</p>
                                </div>
                                <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-resize-small"></i>
                                        </div>
                                    </div>
                                    <!-- /circle-icon -->
                                </div>
                                <!-- /feature-thumbnail -->

                                <div class="feature-content">
                                    <h3>Codemash</h3>
                                    <h3>January 8-11, 2013</h3>
                                    <p>CodeMash is a unique event that will educate developers on current practices, methodologies, and technology trends in a variety of platforms and development languages such as Java, .Net, Ruby, Python and PHP.</p>
                                </div>
                                <!-- /feature-content -->
                            </li>
                            <li class="feature">
                                <div class="feature-thumbnail">
                                    <div class="circle-icon">
                                        <div>
                                            <i class="icon-tint"></i>
                                        </div>
                                    </div>
                                    <!-- /circle-icon -->
                                </div>
                                <!-- /feature-thumbnail -->

                                <div class="feature-content">
                                    <h3>1DevDay</h3>
                                    <h3>November 17, 2012</h3>
                                    <p>DevDay attendees are Software Developers and Software Architects from Michigan, Ohio, Ontario and from as far as Illinois who are passionate enough about what they do to spend their Saturday, absorbing new technologies and networking with like-minded professionals.</p>
                                </div>
                                <!-- /feature-content -->
                            </li>

                        </ul>
                        <!-- /features-list -->

                        <!-- /features-list -->
                    </div>
                    <!-- /span8 -->

                    <div class="span4">
                        <h3><span class="slash">//</span> Featured Speakers</h3>
                        <ul class="testimonials-list">
                            <li>
                                <div class="testimonial-avatar">
                                    <div class="img">
                                        <img src="~/img/avatar.png" alt="Thumbnail" />
                                    </div>
                                </div>
                                <!-- /testimonial-avatar -->

                                <div class="testimonial-text">
                                    <p>
                                        <span class="testimonial-author">Scott Hanselman</span>
                                        Scott Hanselman is a former professor, former Chief Architect in finance, now speaker, consultant, father, diabetic, and Microsoft employee. I am a failed stand-up comic, a cornrower, and a book author.
                                    </p>
                                </div>
                                <!-- /testimonial-text -->
                            </li>
                            <li>
                                <div class="testimonial-avatar">
                                    <div class="img">
                                        <img src="~/img/avatar2.png" alt="Thumbnail" />
                                    </div>
                                </div>
                                <!-- /testimonial-avatar -->

                                <div class="testimonial-text">
                                    <p>
                                        <span class="testimonial-author">Richard Campbell</span>
                                        Richard Campbell is one of the co-founders of Strangeloop Networks and today serves as product evangelist, introducing the company's unique story to advisors, investors, patent attorneys, beta-customer candidates, potential employees, etc. Richard has more than 30 years of high-tech experience and is both a Microsoft Regional Director and Microsoft Most Valuable Professional (MVP).
										
                                    </p>
                                </div>
                                <!-- /testimonial-text -->
                            </li>
                            <li>
                                <div class="testimonial-avatar">
                                    <div class="img">
                                        <img src="~/img/avatar3.png" alt="Thumbnail" />
                                    </div>
                                </div>
                                <!-- /testimonial-avatar -->

                                <div class="testimonial-text">
                                    <p>
                                        <span class="testimonial-author">Rob Conery</span>
                                        I am the Co-Founder of Tekpub.com Creator of This Developer's Life, an Author, Speaker, A bit of a malcontent, and care for many, many Open Source libraries such as Massive, SubSonic, and Manatee
										
                                    </p>
                                </div>
                                <!-- /testimonial-text -->
                            </li>
                        </ul>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->

    </div>
    <!-- /content -->

    <div id="screenshots">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3>iOS</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/iOS.jpg" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Android</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/android.png" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3>Windows 8</h3>
                        <a href="~/img/screenshots/placeholder.gif" class="screenshot">
                            <img src="~/img/Win8.jpg" alt="Screenshot" class="thumbnail" />
                            <span class="screenshot-zoom"></span>
                        </a>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /screenshots -->

    <div id="extra">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h3><span class="slash">//</span> Quick Links</h3>

                        <ul class="footer-links clearfix">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/pricing.html">Conferences</a></li>
                            <li><a href="../features.html">My Schedule</a></li>
                            <li><a href="~/about.html">Api</a></li>
                            <li><a href="~/faq.html">Apps</a></li>
                        </ul>

                        <ul class="footer-links clearfix">
                            <li><a href="javascript:;">Support</a></li>
                            <li><a href="javascript:;">License</a></li>
                            <li><a href="javascript:;">Terms of Use</a></li>
                            <li><a href="javascript:;">Privacy Policy</a></li>
                            <li><a href="javascript:;">Something Else</a></li>
                        </ul>

                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3><span class="slash">//</span> Stay In Touch</h3>

                        <p>There are real people behind conferences.io, so if you have a question or suggestion (no matter how small) please get in touch with us:</p>

                        <ul class="social-icons-container">
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-twitter">Twitter
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-googleplus">Google +
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="social-icon social-icon-facebook">Facebook
                                </a>
                            </li>
                        </ul>
                        <!-- /extra-social -->
                    </div>
                    <!-- /span4 -->
                    <div class="span4">
                        <h3><span class="slash">//</span> Subscribe and get updates</h3>
                        <p>Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>

                        <form>
                            <input type="text" name="subscribe_email" placeholder="Your Email" />
                            <br />
                            <button class="btn ">Subscribe</button>
                        </form>
                    </div>
                    <!-- /span4 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /extra -->

    <div id="footer">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="span4">
                        &copy; 2012 conferences.io
                    </div>
                    <!-- /span4 -->

                    <div id="footer-terms" class="span8">
                    </div>
                    <!-- /span8 -->
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /footer -->

    <script src="~/js/jquery-1.7.2.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/lightbox/jquery.lightbox.min.js"></script>
    <script src="~/js/jcarousellite_1.0.1.js"></script>

    <script>
      $(function () {
        $(".screenshot").lightbox();
      });
    </script>
</body>
</html>