@model RemoteData.Shared.Speaker
@{
    ViewBag.Title = "Speaker";
    Layout = "../Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<h2>Add Session</h2>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
                        
    <input type="submit" name="submit" />
}