<div id="footer">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div id="footer-copyright" class="span4">
					&copy; 2013 Artek Software
				</div>
				<!-- /span4 -->
				<div id="footer-terms" class="span8">
				</div>
				<!-- /span8 -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /inner -->
</div>
<!-- /footer -->
@if (!HttpContext.Current.Request.IsLocal)
{ 
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20184526-4']);
		_gaq.push(['_trackPageview']);
	</script>

	<script src="/ga.ashx" async="async" defer="defer"></script>	
	
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
		@Html.AntiForgeryToken()
}