<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
	<div class="container">
		<h1 class="color-green pull-left">Apps</h1>
	</div>
	<!--/container-->
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container portfolio-columns">
	<div class="row-fluid">
		<div class="view view-tenth span6">
			<img src="~/img/Apps/Apple-coming-soon.png" alt="" />
			@*						<div class="mask">
								<h2>Portfolio Item</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<a href="portfolio_item.html" class="info">Read More</a>
						</div>*@
		</div>
		<div class="view view-tenth span6">
			<img src="~/img/Apps/Android-coming-soon.png" alt="" />
			@*						<div class="mask">
								<h2>Portfolio Item</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<a href="portfolio_item.html" class="info">Read More</a>
						</div>*@
		</div>
	</div>
	<!--/row-fluid-->

	<div class="row-fluid" style="padding-top: 40px;">
		<div class="view view-tenth span4">
			<a href="http://www.windowsphone.com/en-us/store/app/tekconf/9078e309-8113-4ea7-9061-75d1a392743c">
				<img src="~/img/Apps/WindowsPhone.png" alt="" />
			</a>
			@*						<div class="mask">
								<h2>Portfolio Item</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<a href="portfolio_item.html" class="info">Read More</a>
						</div>*@
		</div>
		<div class="view view-tenth span4">
			<img src="~/img/Apps/Windows-coming-soon.png" alt="" />
			@*				<div class="mask">
					<h2>Portfolio Item</h2>
					<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
					<a href="portfolio_item.html" class="info">Read More</a>
				</div>*@
		</div>
		<div class="view view-tenth span4">
			<img src="~/img/Apps/OSX-coming-soon.png" alt="" />
			@*						<div class="mask">
								<h2>Portfolio Item</h2>
								<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
								<a href="portfolio_item.html" class="info">Read More</a>
						</div>*@
		</div>
	</div>
	<!--/row-fluid-->
</div>
<!--/container-->
<!--=== End Content Part ===-->
@section scripts {
changeMenuActive('menuApps');
}