@using System.Web.Optimization
@model dynamic



    <div id="subheader">
        <div class="inner">
            <div class="container">
                <h1>Error</h1>
            </div>
            <!-- /.container -->
        </div>
        <!-- /inner -->
    </div>
    <!-- /subheader -->

    <div id="subpage">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3><span class="slash">//</span> Ooops</h3>

                </div>
                <!-- /span12 -->

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </div>
    <!-- /subpage -->