@using System.Web.Optimization
@model dynamic


	<div id="subheader">
		<div class="inner">
			<div class="container">
				<h1>Subscription</h1>
			</div>
			<!-- /.container -->
		</div>
		<!-- /inner -->
	</div>
	<!-- /subheader -->

	<div id="subpage">
		<div class="container">
			Thank you. Your subscription has been added. You will be notified when new conferences are added to the site.
		</div>
		<!-- /container -->
	</div>
	<!-- /subpage -->