<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.4" targetFramework="wp71" />
  <package id="MvvmCross.HotTuna.Plugin.Json" version="3.0.4" targetFramework="wp71" />
  <package id="MvvmCross.HotTuna.Plugin.Share" version="3.0.4" targetFramework="wp71" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="3.0.4" targetFramework="wp71" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.0.4" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>