<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleAnalyticsSDK" version="1.0.13-beta" targetFramework="win" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.Plugin.File" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.Plugin.Location" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.Plugin.Messenger" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.Plugin.Share" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.Plugin.WebBrowser" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.0.8.1" targetFramework="win" />
  <package id="MvvmCross.PortableSupport" version="3.0.8.1" targetFramework="win" />
</packages>