<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoServer" value="mongodb://localhost/conferences" />
    <!--<add key="MongoServer" value="mongodb://168.62.36.180/conferences" />-->
    <!--<add key="MongoServer" value="mongodb://admin:goldie12@flame.mongohq.com:27100/app4727263?safe=true" />-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4624" newVersion="1.6.0.4624" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4624" newVersion="1.6.0.4624" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>