<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoServer" value="mongodb://localhost/conferences" />
    <!--<add key="MongoServer" value="mongodb://tekconf:tekconf1234@alex.mongohq.com:10035/?safe=true" />-->
	    <add key="TwitterConsumerKey" value="3mYNb4Jt33Ttdgw4Q4Ppjw" />
    <add key="TwitterConsumerSecret" value="RwRTOPu6tYoP2Yh0RBLOfQeWiTKPBjlfDv7IbNJ3G7k" />
    <add key="TwitterAccessToken" value="17351920-ily4mJRu3qLyDiMyr7mMFE7lXT04F8e4aFl93pD5F" />
    <add key="TwitterAccessTokenSecret" value="FylPhGNTbNe7RRSzNsm0848F7duOV1yritFPFR0kyU" />
    <add key="webUrl" value="http://localhost/TekConf.UI.Web" />
    <add key="mongoServerAddress" value="localhost" />
  </appSettings>
	  <connectionStrings>
    <clear />
    <add name="MongoServer" connectionString="mongodb://localhost/tekconf" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.9" newVersion="1.8.3.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>